/* responsive styling for different width */

@media screen and (max-width: 575px) {
  #FaUserIcon {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 750px) {
  html {
    font-size: 0.8rem;
  }
  #login-card {
    width: 250px;
  }
}

@media screen and (max-width: 998px) {
  html {
    font-size: 1rem;
  }
}

/* hidden class */
.hidden {
  display: none;
  visibility: hidden;
}

/* App Header style */
.Appheader {
  font-size: 1.1rem;
  color: teal;
}

#FaUserIcon {
  margin-top: 4%;
}

.headerContainerlogged {
  padding-left: 50px;
}

/* main-content */

.main-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

/* NAVBAR  */

.sideNav {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
  /* To Hide the text when sideNav shrinks */
  overflow-x: hidden;
}

.sideNav-item {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.img-hamburger:hover {
  cursor: pointer;
}

/*
  BEM : Block Element Modifier

  placing this modifier above media query will not works
  as it is over-ridden by the style of the media query
*/

.sideNav--show {
  left: 0;
}

.sideNav--hide {
  width: 70px;
}

/* For the sideNavigation menu and it's item */
.menu {
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.menu-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  padding: 20px;
  color: rgb(0, 0, 0, 0.5);
  font-size: 1.25em;
}

.menu-item:hover,
.menu-item:active {
  text-decoration: none;
  color: inherit;
}

.menu-item-text {
  width: 180px;
  padding-left: 10px;
}

/* Used by the menu-item-text when the sideNav collapse */
.set-width-0 {
  width: 0px;
}

/* SIDENAVIGATION ENDS HERE */

/*main-content */

.main-content-with-menu-closed {
  width: 100%;
  height: 100%;
  padding-left: 70px;
}

.main-content-with-menu-open {
  width: 100%;
  height: 100%;
  padding-left: 250px;
}
