/* Extension to bootstrap styles
 * Don't write any other specific styles in this section
 */

@media screen and (min-width: 576px) {
  .w-sm-75 {
    width: 75% !important;
  }
}

/* responsive styling for different width */

@media screen and (max-width: 575px) {
  #FaUserIcon {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 750px) {
  html {
    font-size: 0.8rem;
  }
  #login-card {
    width: 250px;
  }
}

@media screen and (max-width: 998px) {
  html {
    font-size: 1rem;
  }
}

/* hidden class */
.hidden {
  display: none !important;
}

/* App Header style */
.Appheader {
  background-color: #f0f0f0 !important;
  font-size: 1.1rem;
  color: teal;
}

#FaUserIcon {
  margin-top: 4%;
}

.headerContainerlogged {
  padding-left: 50px !important;
}

/* main-content */

.main-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

/* login page */
#login-card {
  font-style: italic;
  padding: 1rem;
  position: absolute;
  top: 27%;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: 0 auto;
  /* margin-top: 155px;
  margin-bottom: 150px; */
  background-color: #f0f0f0;
  border: 5px rgb(175, 175, 175);
}

/* NAVBAR  */

.sideNav {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
  /* To Hide the text when sideNav shrinks */
  overflow-x: hidden;
}

.sideNav-item {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.img-hamburger:hover {
  cursor: pointer;
}

/*
  BEM : Block Element Modifier

  placing this modifier above media query will not works
  as it is over-ridden by the style of the media query
*/

.sideNav--show {
  left: 0;
}

.sideNav--hide {
  width: 70px;
}

/* For the sideNavigation menu and it's item */
.menu {
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.menu-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  padding: 20px;
  color: rgb(0, 0, 0, 0.5);
  font-size: 1.25em;
}

.menu-item:hover,
.menu-item:active {
  text-decoration: none;
  color: inherit;
}

.menu-item-text {
  width: 180px;
  padding-left: 10px;
}

/* Used by the menu-item-text when the sideNav collapse */
.set-width-0 {
  width: 0px;
}

/* SIDENAVIGATION ENDS HERE */

/*main-content */

.main-content-with-menu-closed {
  width: 100%;
  height: 100%;
  padding-left: 70px;
}

.main-content-with-menu-open {
  width: 100%;
  height: 100%;
  padding-left: 250px;
}

/* Notes */

/* Remove unnecessary style from list */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 8px;
}

li:hover {
  cursor: pointer;
  background: ghostwhite;
}

/* Popover for addition of notes/group/folder */
.popover-body {
  padding: 0;
}

#popover-add {
  width: 100px;
  text-align: center;
}

/* Add button for notes/grp/folder */
#btn-add-note {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: 1.5em;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  border: none;
  position: fixed;
  right: 12px;
  bottom: 12px;
  box-shadow: 6px 6px 15px 0 gray;
  transition: all 0.5s;
}

#btn-add-note:hover {
  box-shadow: 4px 4px 12px 0 grey;
}

.btn-add-note {
  transition: all 0.2s;
}

.btn-add-note--opened {
  transform: rotateZ(45deg);
}

.tab-content {
  flex: 1 0 auto;
  margin: 1.2em;
  margin-bottom: 70px;
}
