/* responsive styling for different width */

@media screen and (max-width: 575px) {
  #FaUserIcon {
    display:none;
    visibility: hidden;   
  }
}
@media screen and (max-width: 750px) {
  html {
    font-size: 0.8rem;
  }
  #Login_Card{
    width: 250px;
  }

}

@media screen and (max-width: 998px) {
  html {
    font-size: 1.0rem;
  }
}

/* hidden class */
.hidden{
  display:none;
  visibility: hidden;   
}


/* App Header style */
.Appheader {
  background-color:#E6E6E6;
  height: none;
  font-size: 1.1rem ;
  color: teal;
}


#FaUserIcon {
 margin-top: 4%;
}

.headerContainerlogged{
  padding-left: 50px;
}


/*profile page */
.FaUserProfile {
  margin-top: 0%;
  margin-right:3%; 
  height: 40px ;
  width: 25px; 
 }


/*setting page */
 .FaUserSetting {
  margin-top: 2%;
  margin-right:1%; 
  height: 50px ;
  width: 30px; 
}



/* login message styling */
#Login_Card{
  font-style: italic;
  padding: 1rem;
  /* margin-left: 37%;*/
  margin-top: 155px;
  margin-bottom:150px; 
  background-color: rgb(230, 232, 240); 
  border:5px outset rgb(175, 175, 175) ;
}




/* main-content */

.main-content {
  flex: 1 0 auto;
  display:flex;
  justify-content: center;
  /* align-items: center; */
  padding:  0%;
  margin: 0px;
  background-color:#f2f4f4; 
  background:  url("/paperlighter.png") no-repeat center center fixed ;
  background-size: cover;
}



/* app Footer */

.AppFooter{
  height: 45px;
}


/* googleAuth */


.GoogleAuthBt{
  margin-left: 0%;
  align-items: center;
}

.GoogleAuthBt>button {
  border-top: 1px solid #3e3f3f;
   background:#0069ed;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 10px 15px;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   border-radius: 45px;
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease 0s;
   cursor: pointer;
   font-size: 1rem;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
}

.GoogleAuthBt>button:hover,
button:focus {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.GoogleAuthBt>button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.GoogleAuthBt>button:active {
  transform: scale(0.99);
}


/* "https://res.cloudinary.com/ellen/image/upload/v1487985971/Profile/paperlighter.png" */  





/* NAVBAR  */


.sideNav {
  top: 0;
  left:0;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
  /* To Hide the text when sideNav shrinks */
  overflow-x: hidden;
}

.sideNav-item {
  padding:5px;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 10px;
  margin-bottom: 10px;
}

.sideNav-nested {
  display: flex;
  flex-direction: column;
}

/*
  To make the content appears just below the buttons, 
  We first align the buttons to the center of the screen 
  and then we make the nested-item to take the half 
  width of the parent and start this half width from the 
  back side (so, "align-self: flex-end")
*/

.nested-item {
  width: 50%;
  align-self: flex-end;
  margin-bottom: 10px;
  margin-right: 10px;
}

.img-hamburger {
  z-index: 1000000000;
  /*box-shadow: 1px 1px 2px;*/
}

.img-hamburger:hover {
  cursor: pointer;
}

@media (min-width: 800px) {
  .img-hamburger {
      box-shadow: none;
  }

  .sideNav {
      left: 0;
  }
}

/*
  BEM : Block Element Modifier

  placing this modifier above media query will not works 
  as it is over-ridden by the style of the media query
*/

.sideNav--show {
  left: 0;
}

.sideNav--hide {
  width: 70px;
}

.img-hamburger--show-shadow {
  /* box-shadow: 1px 1px 2px; */
}

.img-hamburger--hide-shadow {
  box-shadow: none;
}




/* For the sideNavigation menu and it's item */
.menu {
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.menu-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
}

.menu-item-icon {
  width: 50px;
}

.menu-item-text {
  width: 180px;
  padding: 15px;
}

/* Used by the menu-item-text when the sideNav collapse */
.set-width-0 {
  width: 0px;
}

/* SIDENAVIGATION ENDS HERE */


/*main-content */

.main-content-with-menu-closed {
  width: 100%;
  height: 100%;
  padding-left: 70px;
}

.main-content-with-menu-open {
  width: 100%;
  height: 100%;
  padding-left: 250px;
}
.main-content-with-logged-out {

}
